<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #f6f8fa;
            font-family: 'Poppins', sans-serif;
        }

        .container {
            max-width: 700px;
            width: 100%;
            background: #ffffff;
            border-radius: 0.5rem;
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
                0px 5px 12px -2px rgba(0, 0, 0, 0.1),
                0px 18px 36px -6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            margin: 10px;
        }

        .container .title {
            padding: 25px;
            background: #f6f8fa;
        }

        .container .title p {
            font-size: 25px;
            font-weight: 500;
            position: relative;
        }

        .container .title p::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 30px;
            height: 3px;
            background: linear-gradient(to right, #F37A65, #D64141);
        }

        .user_details {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
            padding: 25px;
        }

        .user_details .input_box {
            width: calc(100% / 2 - 20px);
            margin: 0 0 12px 0;
        }

        .input_box label {
            font-weight: 500;
            margin-bottom: 5px;
            display: block;
        }

        .input_box label::after {
            content: " *";
            color: red;
        }

        .input_box input {
            width: 100%;
            height: 45px;
            border: none;
            outline: none;
            border-radius: 5px;
            font-size: 16px;
            padding-left: 15px;
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.36);
            background-color: #f6f8fa;
            font-family: 'Poppins', sans-serif;
            transition: all 120ms ease-out 0s;
        }


        .input_box input:focus {
            box-shadow: 0px 0px 0px 2px #AC8ECE;
        }

        form .gender {
            padding: 0px 25px;
        }

        .gender .gender_title {
            font-size: 20px;
            font-weight: 500;
        }

        .gender .category {
            width: 80%;
            display: flex;
            justify-content: space-between;
            margin: 5px 0;
        }

        .gender .category label {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .gender .category label .dot {
            height: 18px;
            width: 18px;
            background: #d9d9d9;
            border-radius: 50%;
            margin-right: 10px;
            border: 4px solid transparent;
            transition: all 0.3s ease;
        }

        #radio_1:checked~.category label .one,
        #radio_2:checked~.category label .two,
        #radio_3:checked~.category label .three {
            border-color: #d9d9d9;
            background: #D64141;
        }

        .gender input {
            display: none;
        }

        .reg_btn {
            padding: 0 25px 25px;
            margin: 15px 0;
        }

        .reg_btn input {
            height: 45px;
            width: 100%;
            border: none;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            background: linear-gradient(to right, #F37A65, #D64141);
            border-radius: 5px;
            color: #ffffff;
            letter-spacing: 1px;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        }

        .reg_btn input:hover {
            background: linear-gradient(to right, #D64141, #F37A65);
        }

        @media screen and (max-width: 584px) {

            .user_details {
                max-height: 340px;
                overflow-y: scroll;
            }

            .user_details::-webkit-scrollbar {
                width: 0;
            }

            .user_details .input_box {
                width: 100%;
            }

            .gender .category {
                width: 100%;
            }

        }


        @media screen and (max-width: 419px) {
            .gender .category {
                flex-direction: column;
            }
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="title">
            <p>Registration</p>
        </div>

        <form action="/registeruser" method="post">
            <div class="user_details">
                <div class="input_box">
                    <label for="username">Username</label>
                    <input type="text" placeholder="Enter your username" name="username">
                </div>
                <div class="input_box">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Enter your email" name="email">
                </div>
                <div class="input_box">
                    <label for="pass">Password</label>
                    <input type="password" placeholder="Enter your password" name="password">
                </div>
                <div class="input_box">
                    <label for="confirmPass">Confirm Password</label>
                    <input type="password" placeholder="Confirm your password" name="con_password">
                </div>
                <div class="input_box">
                    <label for="phone">Phone Number</label>
                    <input type="number" placeholder="Enter your number" name="phone">
                </div>
                <div class="input_box">
                    <label for="city">City</label>
                    <input type="text" placeholder="Enter your city" name="city">
                </div>
            </div>
            <div class="gender">
                <span class="gender_title">Gender</span>
                <input type="radio" name="gender" value="Male" id="radio_1">
                <input type="radio" name="gender" value="Female" id="radio_2">
                <input type="radio" name="gender" value="Other" id="radio_3">

                <div class="category">
                    <label for="radio_1">
                        <span class="dot one"></span>
                        <span>Male</span>
                    </label>
                    <label for="radio_2">
                        <span class="dot two"></span>
                        <span>Female</span>
                    </label>
                    <label for="radio_3">
                        <span class="dot three"></span>
                        <span>Prefer not to say</span>
                    </label>
                </div>
                <p style="padding-top: 15px;">I already have an Account <a href="/">Login</a></p>
            </div>
            <div class="reg_btn">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>

</body>

</html>