<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <h1 align="center">Login User</h1>
    <table border="1" align="center">
        <form action="/loginuser" method="post">
            <tr>
                <td>Email :</td>
                <td><input type="email"></td>
            </tr>
            <tr>
                <td>Password :</td>
                <td><input type="password"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit"></td>
            </tr>
        </form>
    </table>

</body>

</html>